# App runtime
APP_ENV=local
APP_VERSION=0.1.0

# Database
POSTGRES_USER=expense_user
POSTGRES_PASSWORD=expense_pass
POSTGRES_DB=expenses

# Connection string for API to DB (service name "db")
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}